:root {
  --main-theme-color: #eee;
  --text-dark-color: #555;
  --input-border: rgb(187, 207, 207);
  --warning-color: red;
  --input-error-border: rgba(255, 0, 0, 0.5);
  --input-error-bg: rgba(255, 0, 0, 0.1);
  --submit-btn: rgb(126, 57, 126);
  --reset-btn: #fff;
}

body {
  font-family: 'Open Sans', Courier, monospace;
}

main {
  max-width: 550px;
  margin: 0 auto;
}
input:focus,
select:focus {
  outline: 2px solid var(--submit-btn);
  outline-offset: -5px;
}
button:focus {
  outline: 4px solid var(--input-border);
}

.title {
  font-weight: 800;
  margin-bottom: 0;
}

.required-msg {
  font-size: 0.8rem;
  color: var(--text-dark-color);
}

.form-container {
  /* background: url('/css/texture.png'); */
  background-color: var(--main-theme-color);
  display: flex;
  flex-direction: column;
  padding: 0 1rem 2rem 1rem;
}

form {
  color: var(--text-dark-color);
  margin-top: 2rem;
  letter-spacing: 1px;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
}

.form-item {
  display: flex;
  flex-direction: column;
  width: 48%;
}

label {
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
}

select {
  color: var(--text-dark-color);
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

input,
select {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border: 3px solid var(--input-border);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

input[type='text'],
input[type='email'] {
  min-width: 200px;
}

input.error,
select.error {
  border: 3px solid var(--input-error-border);
  background-color: var(--input-error-bg);
}

#checkboxes.error {
  border: 2px solid var(--warning-color);
}

input[type='checkbox'] {
  margin-right: 1rem;
  padding: 1rem;
}

input[type='checkbox']:hover {
  cursor: pointer;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 550px;
  margin-top: 1rem;
}

.boxes label {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  min-width: 250px;
  margin-bottom: 0;
}

button {
  min-width: 120px;
  padding: 0.7rem 1rem;
  margin-right: 1rem;
  border: none;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
}

button:hover {
  cursor: pointer;
}

button#submit {
  background-color: var(--submit-btn);
  color: var(--main-theme-color);
}

button#reset {
  background-color: var(--reset-btn);
  color: var(--text-dark-color);
}

.buttons {
  margin-top: 2rem;
  justify-content: flex-start;
}

.errorMsg {
  color: var(--warning-color);
  font-size: 0.5rem;
  margin-top: -0.6rem;
}

@media (max-width: 768px) {
  section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form-item {
    width: 90%;
  }
  button#reset {
    margin-top: 0.5rem;
  }
}
